body {
    font-family: 'Londrina Outline', cursive;
    margin-top: 300px;
    text-align: center;
    color: white;
}

#clock {
    font-weight: 300;
    font-size: 120px;
}

#color {
  font-size: 40px;
}
