*{
    margin: 0;
    padding: 0;
}
.container{
    margin: auto;
    width: 1000px;
}
form{
  background-color: #ffffff;
}
label{
    font-size: 20px;
}
input{
    font-size: 20px;
    width: 50%;
    
}
p{
    font-size: 20px;
}
#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
img{
    width: 40px;
    height: 40px;
}
