*{
    margin: 0;
    padding: 0;
    background-color: #fffafa;
    align-items: center;
}
.container{
    margin: auto;
    width: 1000px;
    background-color: #e0ffff;
    font-family: 'Oswald', sans-serif;
}
form{
  background-color: #e0ffff;
  font-family: 'Oswald', sans-serif;
}
label{
    font-size: 20px;
    background-color: #e0ffff;
}
input{
    font-size: 20px;
    width: 50%;
    background-color: #fffafa;
    font-family: 'Comfortaa', bold;
}
p{
    font-size: 20px;
    background-color: #e0ffff;
}
#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e0ffff;
}
img{
    width: 40px;
    height: 40px;
}
