*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
/*Стили index.html*/

#map {
    height: 100%;
}
.containerInfo{
    width: 100px;
    height: 100px;
}
.pInfo{
    font-size: 12px;
}



/*Стили Админка*/

.container{
    margin: auto;
    width: 1000px;
}
form{
    background-color: #eaeaea;
}
label{
    font-size: 40px;
}
input{
    font-size: 40px;
}
p{
    font-size: 40px;
}
